name: Cargo Backend Build & Test

on:
    push:
        branches:
            - e2e
    pull_request:
        branches:
            - e2e

env: 
    CARGO_TERM_COLOR: always

jobs:
    build_and_test:
        name: Actix_Web - latest
        runs-on: ubuntu-latest
        strategy:
            matrix:
                toolchain:
                    - stable
                    # - beta
                    # - nightly
        steps:
            - uses: actions/checkout@v4

            - name: Update
              run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
            - name: Build 
              run: cargo build --verbose
            - name: Test
              run: cargo test --verbose
